@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}



@Html.ActionLink("Następna strona " + @Model.AktualnaStrona, "Nastepna", new { strona = @Model.AktualnaStrona})
<br />


@foreach (var d in @Model.ListaDemotow)
   {
    if (d.czySlajdy)
    {
        foreach (var s in d.slajdy)
        {
            <table>
                <tr>
                   <td><img src="@s.ObrazekUrl"/> </td> 
                    <td>@s.Opis </td> 
                </tr>
                
            </table>
           
             
           <br />
              
    
        }      
    }
    else
    {
         <a href="@d.AdresUrl" > 
           <img src="@d.ObrazekUrl"/>
           </a>
    <br />
    }
      
   }

<br />
 @Html.ActionLink("Następna strona " + @Model.AktualnaStrona, "Nastepna", new { strona = @Model.AktualnaStrona})
