@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}
<div class="srodek">
   
@foreach (var d in @Model.ListaDemotow)
   {
    if (d.czySlajdy)
    {
        foreach (var s in d.slajdy)
        {
            <table>
                <tr>
                   
                   <td><img src="@s.ObrazekUrl"/></td> 
                   <td class="td2">@s.Opis</td> 

                </tr>
                <tr>
                     <td>
                   <button type="button" class="btn btn-sm btn-primary">Fajny!</button>
                        </td>
                </tr>
            </table>
        }      
    }
    else
    {
        <a href="@d.AdresUrl"> 
        <table>
            <tr>
                <td><img src="@d.ObrazekUrl"/></td>
            </tr>
             <tr>
                  <td>
                   <button type="button" class="btn btn-sm btn-primary">Fajny!</button>
                  </td>
                </tr>
        </table>
         </a>
         
          
    <br />
    }
   }
</div>