@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}
<div class="srodek">
   
@foreach (var d in @Model.ListaDemotow)
   {
    if (d.czySlajdy)
    {
        foreach (var s in d.slajdy)
        {
            <table>
                <tr>
                   
                   <td><img src="@s.ObrazekUrl"/></td> 
                   <td class="td2">@s.Opis</td> 

                </tr>
                <tr>
                       <td>
                          <a class="btn btn-primary"  href="@Url.Action("Dodaj", "Fajne", new { mem = @s.ObrazekUrl })">Fajny</a> 
                        </td>
                </tr>
            </table>
        }      
    }
    else
    {
        
        <table>
            <tr>
               
                <td>
                     <a href="@d.AdresUrl"> 
                    <img src="@d.ObrazekUrl"/>
                         </a>
                         </td>
                
            </tr>
             <tr>
                  <td>
                   <a class="btn btn-primary"  href="@Url.Action("Dodaj", "Fajne", new { adres = @d.ObrazekUrl})">Fajny</a> 
                  </td>
                </tr>
        </table>
         
         
          
    <br />
    }
   }
</div>