@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}
<div class="srodek">
   
@foreach (var d in @Model.ListaDemotow)
   {
    <table>
            <tr>
               
                <td>
                     <a href="@d.Url"> 
                    <img src="@d.ImgUrl"/>
                         </a>
                         </td>
                
            </tr>
             <tr>
                  <td>
                   <a class="btn btn-primary" href="@Url.Action("Dodaj", "Fajne", new { adres = @d.ImgUrl})">Fajny</a> 
                  </td>
                </tr>
        </table>
         
         
          
    <br />
  
   }
    @foreach (var s in @Model.ListaSjaldowDemotow)
    {
        <table>
            <tr>

                <td><img src="@s.ImgUrl" /></td>
                <td class="td2">@s.Opis</td>

            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Dodaj", "Fajne", new { adres = @s.ImgUrl })">Fajny</a>
                </td>
            </tr>
        </table>
    }

</div>