@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}
     
    



 <div class="srodek">
   
@foreach (var d in @Model.ListaDemotow)
   {
    if (d.czySlajdy)
    {
        foreach (var s in d.slajdy)
        {
           

            
            <table>
                <tr>
                   <td><img src="@s.ObrazekUrl"/> </td> 
                    <td>@s.Opis </td> 
                </tr>
                
            </table>
          
             
           <br />
              
    
        }      
    }
    else
    {
         <a href="@d.AdresUrl" > 
           <img src="@d.ObrazekUrl"/>
           </a>
    <br />
    }
      
   }


      </div>

