@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}
<div class="srodek">
   
@foreach (var d in @Model.ListaDemotow)
   {   
        <table>
            <tr>
               
                <td>
                     <a href="@d.AdresStrony"> 
                    <img src="@d.AdresObrazka"/>
                         </a>
                         </td>
                
            </tr>
             <tr>
                  <td>
                   <a class="btn btn-primary" href="@Url.Action("Usun", "Fajne", new { adres = @d.AdresObrazka })">Usuń</a> 
                  </td>
                </tr>
        </table>
         
          
    <br />
}
   
</div>