@model MojeDemotywatory.Models.PageModel


<script>
    page = @Model.CurrentPage;
</script>

@foreach (var d in @Model.DemotivatorList)
{
    <table>
        <tr>

            <td>
                <a href="@d.Url">
                    <img src="@d.ImgUrl" />
                </a>
            </td>

        </tr>
        <tr>
            <td>
                <a class="btn btn-primary" href="@Url.Action("SaveFavorite", "Favorite", new {imgUrl = @d.ImgUrl, url = @d.Url })">Ten jest fajny!</a>
            </td>
        </tr>
    </table>



    <br />

}
@foreach (var s in @Model.DemotivatorSlideList)
{
    <table>
        <tr>

            <td><img src="@s.ImgUrl" /></td>
            <td class="td2">@s.Description</td>

        </tr>
        <tr>
            <td>
                <a class="btn btn-primary" href="@Url.Action("SaveFavorite", "Favorite", new {imgUrl = @s.ImgUrl, url = @s.Url })">Ten jest fajny!</a>
            </td>
        </tr>
    </table>
}


